.wrapper {
    height: 1000px;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin: 16px 0;
    text-transform: uppercase;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 1.6rem;
        color: #222;
    }
}

.sort {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 16px 0;
    align-items: center;

    h4 {
        margin-right: 10px;
        font-size: 1.6rem;
    }
}

.select {
    width: 176px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgb(209, 209, 209);
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #3d3d3d;
    font-weight: 400;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1113px) {
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .l-0 {
        display: none;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .l-2-8 {
        flex: 0 0 80%;
        max-width: 80%;
    }
}
